name: Export Hive SQL to JSON

on:
  schedule:
    - cron: "0 */24 * * *"   # roda a cada 24h
  workflow_dispatch:          # permite rodar manualmente
  
permissions:
  contents: write


jobs:
  export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PostgreSQL client
        run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - name: Export JSON from hafsql
        env:
          PGHOST: hafsql-sql.mahdiyari.info
          PGPORT: 5432
          PGDATABASE: haf_block_log
          PGUSER: hafsql_public
          PGPASSWORD: hafsql_public
        run: |
          psql -c "\copy (
            SELECT json_agg(row_to_json(t))
            FROM (
              SELECT id, title, body, author, permlink, parent_author, parent_permlink, created,
                     last_edited, cashout_time, remaining_till_cashout, last_payout, tags, category,
                     json_metadata, root_author, root_permlink, pending_payout_value, author_rewards,
                     author_rewards_in_hive, total_payout_value, curator_payout_value, beneficiary_payout_value,
                     total_rshares, net_rshares, total_vote_weight, beneficiaries, max_accepted_payout,
                     percent_hbd, allow_votes, allow_curation_rewards, deleted
              FROM hafsql.comments
              WHERE created >= NOW() - INTERVAL '24 hours'
              ORDER BY created DESC
              LIMIT 24443
            ) t
          ) TO STDOUT" > data.json

      - name: Upload file to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          files: data.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
